<!-- views/partials/navbar.ejs -->
<header>
    <nav id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#choroplethContainer">Map</a></li>
            <li><a href="#linegraphContainer">Timeline</a></li>
            <li><a href="#barchartContainer">Bar Chart</a></li>
        </ul>
    </nav>
</header>
