<!-- views/partials/navbar.ejs -->
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/choropleth">Choropleth</a></li>
            <li><a href="/line">Line Graph</a></li>
            <li><a href="/piechart">Pie Chart</a></li>
        </ul>
    </nav>
</header>