<!-- views/partials/navbar.ejs -->
<header>
    <nav id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/choropleth">Map</a></li>
            <li><a href="/line">Timeline</a></li>
            <li><a href="/barchart">Bar Chart</a></li>
        </ul>
    </nav>
</header>
