<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<!-- Color scale -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
</head>
<body>
  <%- include('partials/navbar') %>
  <h2><center>Confirmed Cases</center></h2>
  <!-- To display the data's date -->
  <div id="one"><h3><center id ="b1"></center></h3></div>
  <!-- Create a div where the graph will be -->
  <div id="chart"></div>
  <script>
  //Initializing an accessible dictionary
  var dataCopy = <%- JSON.stringify(dict); %>
  </script>
  <script defer src="/scripts/barchart.js"></script>
</body>
</html>
