<!--  
    File: views/dataTable.ejs 
    Desc: The view that gets rendered in /get-data
-->

<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            table, th, td {
                border: 1px solid black;
            }
            td {
                padding: 5px;
            }
        </style>
    </head>
    <body>
        <h1>Showing results for: US.</h1>

        <table>
            <tr>
                <th>   Date   </th>
                <th>   Total Confirmed Cases   </th>
                <th>   Total Deaths   </th>
                <th>   Total Recovered   </th>
            </tr>
            <% var i
               for (i = 0; i < items.length; i++) { %>
            <tr>        
                <td>   <%= items[i].date %>   </td>             
                <td>   <%= items[i].confirmed %>   </td>
                <td>   <%= items[i].deaths %>   </td>
                <td>   <%= items[i].recovered %>   </td>
            </tr>
            <% } %>
        </table>
    </body>
</html>