<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
<link rel="stylesheet" type="text/css" href="/css/line.css" />
</head>

<!-- Create a div where the graph will take place -->
<body>
  <%- include('partials/navbar') %>
  <br><br>
  <div id="linegraphContainer">
    <h1><center>COVID Data Over Time</center></h1>
    <div id="my_dataviz"></div>
    <button id='confirmButton'></button>
  </div>
</body>

<script>
var dataconfirm = <%- JSON.stringify(data.itemsc); %>;
var datadeath = <%- JSON.stringify(data.itemsd); %>;

</script>
<script defer src="/scripts/linegraph.js"></script>
</html>
