<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<!-- Color scale -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/barchart.css" />
<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
</head>
<body>
  <%- include('partials/navbar') %>
  <div id="barchartContainer">
  <h2><center id = "heading"></center></h2>
  <!-- To display the data's date -->
  <div id="one"><h3><center id ="b1"></center></h3></div>
  <h4><center>Death Percent = Number of Deaths/ Number of Cases, Cases Percent = Number of Cases/ Population</center></h4>
  <div class="allforms">
  <form>
      <h4>Show:</h4>

      <label>
          Absolute
      <input type="radio" value="absolute" name="bar" onclick="percentAb(this.value)" checked>
      </label>

      <label>
          Percent
      <input type="radio" value="percent" name="bar" onclick="percentAb(this.value)">
      </label>
  </form>
  <form>
      <h4>Show:</h4>

      <label>
          Cases
      <input type="radio" value="cases" name="bardisplay" onclick="formdisplay(this.value)" checked>
      </label>

      <label>
          Deaths
      <input type="radio" value="deaths" name="bardisplay" onclick="formdisplay(this.value)">
      </label>
  </form>
  </div>
  <!-- Create a div where the graph will be -->
  <div id="chart"></div>
</div>
  <script>
  //Initializing an accessible dictionary
  var totCountyData = <%- JSON.stringify(dict.tot); %>
  </script>
  <script defer src="/scripts/stateBarchart.js"></script>
</body>
</html>
