#myTooltip {
 position: absolute;
 text-align: left;
 width: 100px;
 height: auto;
 min-height: 20px;
 padding: 2px;
 font: 15px sans-serif;
 background-color: rgb(255, 255, 255);
 border: 2px solid rgb(100, 161, 209);
 color: rgb(138, 29, 74);
 border-radius: 8px 8px 8px 8px;
 pointer-events: none;
 padding: 11px;
}

#myTooltip:before {
 box-sizing: border-box;
 display: inline;
 font-size: 18px;
 width: 100%;
 line-height: 1;
 color: rgb(138, 29, 74);
 content: "\25BC";
 position: absolute;
 text-align: center;
 top: 100%;
 left: -2px;
}

div.allforms{
  position: relative;
  left: 10px;
}

#chart {
  display: table;
  margin: 0 auto;
}

#barchartContainer{
  display: table;
  margin: 0 auto;
}

.topten{
  margin-top: 0px;
  margin-right: 5px;
  line-height: 15px;
  display: inline-block;
  padding: 5px 5px;
  background-color: rgb(138, 29, 74);
  cursor: pointer;
  font-style: italic;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px rgba(0,0,0,0.2);
}

.orderedbtn{
  margin-top: 0px;
  margin-right: 5px;
  line-height: 15px;
  display: inline-block;
  padding: 5px 5px;
  background-color: rgb(138, 29, 74);
  cursor: pointer;
  font-style: italic;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px rgba(0,0,0,0.2);
}
.topten:hover{background-color: rgb(94, 20, 51)}

.orderedbtn:hover {background-color: rgb(94, 20, 51)}
