#choroplethCard {
    width: 80vw;
    margin: 0 auto;
    padding: 2em;
}

#choroplethCardCounty {
    width: 80vw;
    margin: 0 auto;
    padding: 2em;
    padding-top: 10vh;
}

.flexContainer {
    display: flex;
    margin-top: 1.5em;
}

.flexChild {
    flex: 1;
}

#statsHeader {
    background-color: rgb(138, 29, 74);
    padding: 1em 1em;
}

#statsContainer {
    padding: 1em 1em;
    line-height: 2em;
    position: relative;
}

#statsContainer h3 {
    border-bottom: 1px solid grey;
}

#tooltip {
    width: 100px;
    background-color: #333;
    color: #eee;
}

.state:hover, .county:hover{
    fill: rgb(209, 155, 63);
}

#countryPleth, #statePleth {
    min-width: 1000px;
    max-width: 100vw;
    min-height: 600px;
    padding: 1em 2em;
    background-color: white;
}

#legend {
    margin: 0 auto;
}

#legendMinLabel, #legendMaxLabel{
    display: inline-block;
}

#legendMaxLabel {
    float: right;
}