html, body {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin-top: 10px;
}

#tooltip {
    visibility: hidden;
    height: auto;
    width: auto;
}

svg {
    background-color: whitesmoke;
}

.state:hover {
    fill: black;
}

#countryPleth, #statePleth {
    min-width: 1000px;
    min-height: 600px;
}