html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    font-family: 'Noto Serif', serif;
}

.container {
    height: 100vh;
}

.card {
    margin: 0 auto;
    padding: 40px;
    min-width:60vw;
}

#titleCard {
    background-color: aliceblue;
}

#jumbotron {
    height: 40vh;
    background-color: rgb(167, 178, 190);
    padding: 30vh 0;
    text-align: center;
}

#choroplethContainer {
    background-color: aliceblue;
}

#linegraphContainer {
    background-color: rgb(167, 178, 190);
    padding: 5vh;
}

#my_dataviz {
    background-color: white;
}

#bargraphContainer
{
    background-color: aliceblue;
}

#tagline {
    font-family: 'Noto Serif', serif;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.displayHeader {
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
}

.allforms form{
    display: inline-block;
    margin: 0.5em 1em;
}