html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    font-family: 'Noto Serif', serif;
}

.container {
    min-height: 100vh;
}

.card {
    margin: 0 auto;
    padding: 40px;
    min-width:60vw;
}

#titleCard {
    background-color: rgba(255, 255, 255,0.8);
}

#jumbotron {
    height: 40vh;
    background-color: #264653;
    padding: 30vh 0;
    text-align: center;
}

#choroplethContainer {
    background-color: #eee;
}

.sectionHeading {
    border-bottom: 1px solid black;
    margin-bottom: 0.3em;
}

#choroplethContainer label{
    margin: 0 0.7em;
}

#linegraphCard {
    width: 1200px;
    margin: auto auto;
}

#barchartContainer
{
    width: 100vw;
    background-color: #eee;
    overflow: hidden;
}

#tagline {
    font-family: 'Noto Serif', serif;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.displayHeader {
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
}

.allforms form{
    display: inline-block;
    margin: 0.5em 1em;
}