button {
  margin-top: 20px;
  margin-right: 10px;
  line-height: 60px;
  font-weight: bold;
  display: inline-block;
  padding: 10px 15px;
  background-color: #264653;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
button:hover {background-color: #162f38}

button:active {
  background-color: #162f38;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
