* {
    margin:  0;
    padding: 0;
}


#navbar {
    z-index: 1;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.8);
    margin: 0px !important;
    width: 100vw;
}

nav ul {
    list-style-type: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    display: inline-block;
    margin: 0.8em 8px 0 0;
}

#navbar ul li a{
    display: inline-block;
    padding: 15px 10px;
    margin: 0 8px;
}

#navbar ul li a:hover {
    background-color: #111;
}

#navbar ul a {
    color: white;
    text-decoration: none;
}